.employee-card {
    border: 1px solid var(--dark-grey);
    background-color: var(--light-grey);
    width: max(20%, 250px);
    /* height: 150px; */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.card-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-name {
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);
}

.card-image {
    padding-top: 1rem;
    color: var(--dark-blue);
}

.card-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: var(--dark-grey);
}